<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string>
    
    
    如何成为注册用户？
    
    在注册页面，填写您真实的邮箱或手机号、密码并同意相关协议，点击"注册"按钮即可完成注册。
    
    什么是倍利宝？
    
    倍利宝是一种创新型的投资产品，主要有三种产品组合，一种是一级市场众筹计划的组合，一种是二级市场综合投资的组合，还有一种是一级市场和二级市场资金错配进行组合的产品。可灵活赎回，不可 进入二级市场进行交易。
    
    如何开户绑卡？储蓄卡吗？
    
    准备一张您常用的银行储蓄卡，通过后台绑定银行卡及收款人，就轻松完成开户了。

    
    
    
    
    
    
    
    
    </string>
</dict>
</plist>
